<!DOCTYPE html>
<html lang="en">
<head>
    <style>
       body{
            margin: 0;
            padding: 0;
            font-size: 14px;
        }
        .container{
            font-family: Arial, Helvetica, sans-serif; 
        }
        #content{
            width: 25rem;
            color: black;
        }

        #printButton{
            background-color: #35a8e0;
            padding: 1rem;
            border-radius: 0.5rem;
            text-decoration: none;
            color: #ffff;
            font-weight: bold;
            margin: 1.3rem 0;
            display: block;
            width: 7rem;
            text-align: center;

        }
        #printButton:hover{
            background-color: #299fd9;
        }
        
        .details > span{
            margin: 0.5rem 0px;
        }

        img{
            display: block;
        }
        span{
            margin: 1.5rem 0px;
            display: block;
        }
        p{
            text-align: justify;
            line-height: 1.6;
        }

        @media (max-width: 576px) {
            #content{
            width: 20rem;
            }
        }

    </style>
</head>
<body>
    <div class="container">
        <span>
            <img src="https://firebasestorage.googleapis.com/v0/b/sacada-d9a34.appspot.com/o/assets%2Fsoluca-logo.webp?alt=media&token=72a04460-5af3-4c24-bf61-aa192db3acda" alt="logo sacada soluções">
        </span>

        <div id="content">
        <script>

            <span></span>
            <span>
                <p>
                    Prezado {{name}},
                </p>
            </span>

            <span>
                <p>
                    Após uma análise das suas necessidades e especificações, temos o prazer de apresentar o orçamento para a sua sacada personalizada, elaborado por nosso técnico especializado, {{pedido.tehnician}}.
                </p>
            </span>
            
            <span>
                <p>Segue abaixo os detalhes do orçamento:</p>
            </span>

            <span>
                <p>
                    • Aparador Inox: {{pedido.qtdAparador}}
                </p>
                <p>
                    • Prolongador: {{pedido.qtdProlongador}}
                </p>
                <p>
                    • Selante: {{pedido.qtdSelante}}
                </p>
                <p>
                    • Chapa Inferior: {{pedido.chapaInferior}}
                </p>
                <p>
                    • Chapa Superior: {{pedido.chapaSuperior}}
                </p>
                <p>
                    • Custo do vidro: R$ {{pedido.priceGlasses}}
                </p>
                <p>
                    • Kit solução: R$ {{pedido.priceKitSolutions}}
                </p>
                 <p>
                    • Valor Prolongador: R$ {{pedido.priceProlongador}}
                </p>
                <p>
                    • Custo dos acessórios: R$ {{pedido.priceAcessories}}
                </p>
                <p>
                    • Custo das chapas: R$ {{pedido.pricePlates}}
                </p>
                <p>
                    • Área Total: R$ {{pedido.area}} m&sup2;
                </p>
                <p>
                    • Valor Total: R$ {{pedido.price}}
                </p>
            </span>


                document.getElementById('printButton').addEventListener('click', function() {
                    window.print();
                });
            </script>
        </div>
    </div>
</body>
</html>